<div class="container">
        <form name="ctrl.groceryform" class="form-horizontal">
           
            <div class="form-group">
                <label class="control-label col-sm-2" for="brand">Brand </label>
                <div class="col-sm-6">
                    <input type="text" ng-model="ctrl.grocery.brand" class="form-control" id="brand" name="brand" placeholder="enter Brand.." required>
                    <div class="validation" data-ng-show="ctrl.groceryform.brand.$touched || ctrl.groceryform.$submitted">
                        <div data-ng-show="ctrl.groceryform.brand.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Brand is required
                        </div>
                    </div>
                </div>    
            </div>

            <div class="form-group">
                    <label class="control-label col-sm-2" for="name">Product Name </label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="ctrl.grocery.name" class="form-control" id="name" name="name" placeholder="Enter Product Name.." required>
                        <div class="validation" data-ng-show="ctrl.groceryform.name.$touched || ctrl.groceryform.$submitted">
                            <div data-ng-show="ctrl.groceryform.brand.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Product Name is required
                            </div>
                        </div>
                    </div>    
                </div>
            
                
            <div class="form-group">
                <label class="control-label col-sm-2" for="barcode">Barcode</label>
                    <div class="col-sm-6">
                         <input type="text" ng-model="ctrl.grocery.upc12" class="form-control" id="barcode" name="barcode" placeholder="Enter barcode" maxlength="12" ng-pattern="/^[0-9]/">
                          
                    </div>
            </div>

            
            <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                    <button type="submit" class="btn btn-primary" ng-disabled="ctrl.groceryform.$invalid" ng-click="ctrl.saveGrocery()">Save</button>
                    <button type="submit" class="btn btn-primary" ng-click="ctrl.cancelAddGrocery()">Cancel</button>
                    <!--<input type="button" onclick="location.href='/#home';" value="Cancel" /> -->
                                 
                </div>
            </div>

        </form>
    </div>