<div class="container">
        <form name="ctrl.editgroceryform" class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2" for="barcode">Barcode</label>
                <div class="col-sm-6">
                    <input type="text" ng-model="ctrl.grocery.upc12" class="form-control" id="barcode" name="barcode" placeholder="Enter barcode" required>
                    <div class="validation" data-ng-show="ctrl.editgroceryform.barcode.$touched || ctrl.editgroceryform.$submitted">
                        <div data-ng-show="ctrl.editgroceryform.barcode.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> barcode is required
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="brand">Brand </label>
                <div class="col-sm-6">
                    <input type="text" ng-model="ctrl.grocery.brand" class="form-control" id="brand" name="brand" placeholder="enter Brand.." required>
                    <div class="validation" data-ng-show="ctrl.editgroceryform.brand.$touched || ctrl.editgroceryform.$submitted">
                        <div data-ng-show="ctrl.editgroceryform.brand.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Brand is required
                        </div>
                    </div>
                </div>    
            </div>

            <div class="form-group">
                    <label class="control-label col-sm-2" for="name">Product Name </label>
                    <div class="col-sm-6">
                        <input type="text" ng-model="ctrl.grocery.name" class="form-control" id="name" name="name" placeholder="Enter Product Name.." required>
                        <div class="validation" data-ng-show="ctrl.editgroceryform.name.$touched || ctrl.editgroceryform.$submitted">
                            <div data-ng-show="ctrl.editgroceryform.brand.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Product Name is required
                            </div>
                        </div>
                    </div>    
                </div>
               
            <div class="form-group">
                <div class="col-md-6 col-md-offset-3">
                    <button type="submit" class="btn btn-primary" ng-disabled="ctrl.employeeform.$invalid" ng-click="ctrl.saveGrocery()">Update</button>
                    <button type="submit" class="btn btn-primary" ng-click="ctrl.cancelEditGrocery()">Cancel</button>

                </div>
            </div>
        
        </form>
    </div>