

<div class="container-fluid">
    <form name="ctrl.searchForm" ng-submit="ctrl.searchGrocerylist()">

         <div class="keyword col-sm-12 col-md-4 col-lg-3">
            <input type="text" name="keyword" id="keyword" ng-model="ctrl.searchKeyword" placeholder="Enter Brand or Product Name" class="form-control"/>
        </div> 
    

        <div class="col-sm-12 col-md-4 col-lg-2">
            <select ng-model="ctrl.orderby2" class="form-control">
                <option value="" disabled selected>sort by</option>
                <option value="brand">Brand</option>
                <option value="name">Product name</option>

            </select>
        </div> 
        
        <div class="col-sm-12 col-md-4 col-lg-2">
            <select ng-model="ctrl.orderby" class="form-control">
                <option value="" disabled selected>order by</option>
                <option value="ASC">A-Z</option>
                <option value="DESC">Z-A</option>
            </select>
        </div>

        <div class="keyword col-sm-12 col-md-4 col-lg-3">
                <button type="submit" class="btn btn-primary">Search</button> <!-- GET --> 
        </div> 


    </form>
</div>

/<div class="list" ng-show="ctrl.grocerylist"></div>
    <!-- PAGINATION -->
        <div class="row" ng-show="ctrl.grocerylist.length > 0">

            <div class="list header col-lg-12 col-md-12 col-sm-12">
                    <ul uib-pagination total-items="ctrl.totalItems" max-size="ctrl.maxsize" items-per-page="ctrl.itemsPerPage" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-model="ctrl.currentPage" num-pages="numPages" ng-change="ctrl.pageChanged()"></ul>
            
            </div>

        </div>

    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3 grocery" ng-repeat="grocery in ctrl.grocerylist">

            <hr>
            <!--<h4><label>ID:</label> {{grocery.id}}</h4>-->
            <h4><a href="#" class="thumbnail" ><img src="http://www.barcodes4.me/barcode/c128a/{{grocery.upc12}}.png?IsTextDrawn=1"/></a></h4>
            <h4><label>UPC12 Barcode:</label> {{grocery.upc12}}</h4>
            <h4><label>Brand:</label> {{grocery.brand}}</h4>
            <h4><label>Product Name:</label> {{grocery.name}}</h4>

            <button type="button" ng-click="ctrl.editGrocery(grocery.id, 'lg')" class="btn btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            

        </div>
    </div>
</div>



  <!-- 


</div>
<h4><label>Hire Date:</label> {{employee.hire_date}}</h4>


            <h4><a class="thumbnail"><img class="img-circle" src="{{employee.photourl}}"></a></h4>
<button type="button" ng-click="ctrl.deactivateEmployee(employee.emp_no, 'lg')" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
  -->