a:hover {
    color: #FF0000;
    background-color: #FFE604
}
.navboxstd {
    background-color: #FF0000;
    border-width: 5px 0px;
    border-top-color: #FFE604;
    border-bottom-color: #FFE604;
    
 
}

.navitemstd {
    color: #FFE604; 
    font-family: "Lato";
    font-weight: 900;
 
}

/*footer stick to bottom*/

#footer {
    background-color: black;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
}